<% title "Fun" %>
<%= stylesheet_link_tag "fun_projects" %>

<section id="fun-projects">
  <h1>Future addition</h1>
</section>

<!-- <p>Fake server</p>
<p>Maybe a little puzzle</p>
<p>A little CLI thing</p>
<p>Some jumpy moving things that look like graphs</p>
 -->
