/*$arvo: 'Arvo', serif;
$vollkorn: 'Vollkorn', serif;*/
/* slide in left */
@-webkit-keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
/* fade in */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInAndFlipUp {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }
  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to {
    transform: perspective(400px);
  }
}
/* line 4, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer,
#exploring,
#listed-experience,
#learning {
  background-color: white;
  min-height: 100vh;
}
@media (orientation: portrait) {
  /* line 4, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
  #web-developer,
  #exploring,
  #listed-experience,
  #learning {
    min-height: 75vh;
  }
}
/* line 11, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #who-am-i,
#web-developer #curious,
#web-developer #experience,
#web-developer #motivations,
#exploring #who-am-i,
#exploring #curious,
#exploring #experience,
#exploring #motivations,
#listed-experience #who-am-i,
#listed-experience #curious,
#listed-experience #experience,
#listed-experience #motivations,
#learning #who-am-i,
#learning #curious,
#learning #experience,
#learning #motivations {
  text-align: center;
  margin-top: 25vh;
}
/* line 17, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #who-am-i h4,
#web-developer #curious h4,
#web-developer #experience h4,
#web-developer #motivations h4,
#exploring #who-am-i h4,
#exploring #curious h4,
#exploring #experience h4,
#exploring #motivations h4,
#listed-experience #who-am-i h4,
#listed-experience #curious h4,
#listed-experience #experience h4,
#listed-experience #motivations h4,
#learning #who-am-i h4,
#learning #curious h4,
#learning #experience h4,
#learning #motivations h4 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 8vw;
  padding-top: 10vh;
}
/* line 23, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #who-am-i p,
#web-developer #curious p,
#web-developer #experience p,
#web-developer #motivations p,
#exploring #who-am-i p,
#exploring #curious p,
#exploring #experience p,
#exploring #motivations p,
#listed-experience #who-am-i p,
#listed-experience #curious p,
#listed-experience #experience p,
#listed-experience #motivations p,
#learning #who-am-i p,
#learning #curious p,
#learning #experience p,
#learning #motivations p {
  font-size: 3vw;
  line-height: 1vw;
}
/* line 29, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos,
#web-developer #curious-logos,
#exploring #experience-logos,
#exploring #curious-logos,
#listed-experience #experience-logos,
#listed-experience #curious-logos,
#learning #experience-logos,
#learning #curious-logos {
  margin-top: 5vw;
}
/* line 32, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div,
#web-developer #curious-logos div,
#exploring #experience-logos div,
#exploring #curious-logos div,
#listed-experience #experience-logos div,
#listed-experience #curious-logos div,
#learning #experience-logos div,
#learning #curious-logos div {
  height: 15vw;
  width: 15vw;
}
/* line 35, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div.javascript-logo,
#web-developer #curious-logos div.javascript-logo,
#exploring #experience-logos div.javascript-logo,
#exploring #curious-logos div.javascript-logo,
#listed-experience #experience-logos div.javascript-logo,
#listed-experience #curious-logos div.javascript-logo,
#learning #experience-logos div.javascript-logo,
#learning #curious-logos div.javascript-logo {
  background-image: url(/assets/javascript_logo-3bb34d06cc23266bc5045e3c873d84b0272df90b79b06b70c1daeaa3e8cf512a.svg);
  margin: 0 auto;
  transition: background 0.35s linear;
}
/* line 40, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div.ruby-logo,
#web-developer #curious-logos div.ruby-logo,
#exploring #experience-logos div.ruby-logo,
#exploring #curious-logos div.ruby-logo,
#listed-experience #experience-logos div.ruby-logo,
#listed-experience #curious-logos div.ruby-logo,
#learning #experience-logos div.ruby-logo,
#learning #curious-logos div.ruby-logo {
  background-image: url(/assets/ruby_logo-faaeda1fd1edd4dc8e729926868b154cfae20d4a981cf81137e288aecbf173a6.svg);
  margin: 0 auto;
  transition: background 0.35s linear;
}
/* line 45, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div.git-logo,
#web-developer #curious-logos div.git-logo,
#exploring #experience-logos div.git-logo,
#exploring #curious-logos div.git-logo,
#listed-experience #experience-logos div.git-logo,
#listed-experience #curious-logos div.git-logo,
#learning #experience-logos div.git-logo,
#learning #curious-logos div.git-logo {
  background-image: url(/assets/git_logo-d76e0e849d0299c0161ce35961c10af0fee019e9424f4b5c58624542dca6fc79.svg);
  margin: 0 auto;
  transition: background 0.35s linear;
}
/* line 50, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div.react-logo,
#web-developer #curious-logos div.react-logo,
#exploring #experience-logos div.react-logo,
#exploring #curious-logos div.react-logo,
#listed-experience #experience-logos div.react-logo,
#listed-experience #curious-logos div.react-logo,
#learning #experience-logos div.react-logo,
#learning #curious-logos div.react-logo {
  background-image: url(/assets/react_logo-0bc85e7625d0e226f084c5d1d1b65ed6578dca244695be12ff8b3e6af5b45325.svg);
  margin: 0 auto;
  transition: background 0.35s linear;
}
/* line 55, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div.erlang-logo,
#web-developer #curious-logos div.erlang-logo,
#exploring #experience-logos div.erlang-logo,
#exploring #curious-logos div.erlang-logo,
#listed-experience #experience-logos div.erlang-logo,
#listed-experience #curious-logos div.erlang-logo,
#learning #experience-logos div.erlang-logo,
#learning #curious-logos div.erlang-logo {
  background-image: url(/assets/erlang_logo-ea1fece2053867c894c8311690038646646c55fa645b67741db8cbd047f0d92c.svg);
  margin: 0 auto;
  transition: background 0.35s linear;
}
/* line 60, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #experience-logos div.python-logo,
#web-developer #curious-logos div.python-logo,
#exploring #experience-logos div.python-logo,
#exploring #curious-logos div.python-logo,
#listed-experience #experience-logos div.python-logo,
#listed-experience #curious-logos div.python-logo,
#learning #experience-logos div.python-logo,
#learning #curious-logos div.python-logo {
  background-image: url(/assets/python_logo-1c4df13e4f3b2f2a16699b664702704794cb0fd6a5667b7877eae26bbca362fe.svg);
  margin: 0 auto;
  transition: background 0.35s linear;
}
/* line 67, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer .experience-types,
#exploring .experience-types,
#listed-experience .experience-types,
#learning .experience-types {
  text-align: center;
  margin-bottom: 5em;
}
/* line 70, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer .experience-types h5,
#exploring .experience-types h5,
#listed-experience .experience-types h5,
#learning .experience-types h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 4em;
  font-weight: 700;
  color: #74c7d7;
}
/* line 77, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer .experience-types ul li,
#exploring .experience-types ul li,
#listed-experience .experience-types ul li,
#learning .experience-types ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5em;
  font-weight: 500;
}
/* line 85, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #motivations,
#exploring #motivations,
#listed-experience #motivations,
#learning #motivations {
  margin-top: 0;
  margin-bottom: 75vh;
}
/* line 88, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#web-developer #motivations h4,
#exploring #motivations h4,
#listed-experience #motivations h4,
#learning #motivations h4 {
  padding-top: 0;
}

/* line 94, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#who-am-i {
  margin-top: 45vh !important;
}

/* line 99, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#learning #motivations h4 {
  font-size: 7vw;
}
/* line 103, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#learning #values.visible {
  animation: fadeInAndFlipUp 0.75s;
}
/* line 107, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#learning #lightbulb-smoke {
  margin: 30vh 40vw 5vh;
  max-width: 20vw;
  height: auto;
  width: auto;
}

/* line 115, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
img#brush {
  margin: 0 auto;
  max-width: 50vw;
  height: auto;
  width: auto;
}

/* line 122, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
img#point-down,
img#point-up {
  margin: 10vh auto;
  max-width: 50vw;
  height: auto;
  width: auto;
}

/* line 130, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
img#point-up {
  transform: rotate(180deg);
}

/* line 134, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
img#point-down {
  margin-top: 20vh;
  margin-bottom: 50vh;
}

/* line 139, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#listed-experience .container {
  margin-top: 20vh;
}

/* line 143, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#experience {
  padding: 5vh 0;
}
/* line 145, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
#experience h4 {
  padding-top: 3vh !important;
  color: #1f3441;
}

@media (max-width: 1200px) {
  /* line 153, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
  #values.display-mobile {
    animation: fadeInAndFlipUp 0.75s;
  }
}
@media (orientation: portrait) {
  /* line 160, /Users/blakeburnette/repos/visual/app/assets/stylesheets/about_me.scss */
  #experience h4 {
    font-size: 13vw !important;
  }
}
