<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "contact" %>
<%= stylesheet_link_tag "about" %>
<% title "Blake Burnette" %>
<!-- Main -->

<section id="hello-and-welcome">
  <p>
    veebiarendaja webontwikkelaar zhvilluesi i uebit Վեբ ծրագրավորողը geliştiricisi уеб разработчик desenvolupador sviluppatore udvikler ウェブ開発者 entènèt pwomotè programador ծրագրավորողը mahadar yanar gizo punaewele punaewele מפתח אינטרנט tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha ウェブ開発者 นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja zhvilluesi i 开发人员 uebit Վեբ ծրագրավորողը web geliştiricisi уеб разработчик desenvolupador 开发人员 entènèt นักพัฒนาเว็บ web-udvikler pwomotè programador web mahadar yanar punaewele punaewele מפתח אינטרנט Web tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn 开发人员 веб <span class="darken">web developer</span> horumariyaha веб-развивач ウェブ開発者 นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja webontwikkelaar zhvilluesi i uebit Վեբ ծրագրավորողը geliştiricisi уеб разработчик desenvolupador sviluppatore udvikler ウェブ開発者 entènèt pwomotè programador ծրագրավորողը mahadar yanar gizo punaewele punaewele מפתח אינטרנט tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha webka นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja zhvilluesi i 开发人员 uebit Վեբ ծրագրավորողը web geliştiricisi уеб разработчик desenvolupador 开发人员 entènèt webka <span class="darken">web developer</span>  นักพัฒนาเว็บ web-udvikler pwomotè programador web mahadar yanar punaewele punaewele מפתח אינטרנט Web tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha webka นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer
  </p>
</div>

<div id="home-nav" class="row remove-margin slideInLeft">
  <a class="twenty-percent" href="#about-me">
    <div id="one" data-id="about" class="link">
      <i class="fa fa-user fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="work">
    <div id="two" data-id="work" class="link">
      <i class="fa fa-eye fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="https://github.com/blakeburnette" target="_blank">
    <div id="three" data-id="code" class="link">
      <i class="fa fa-code fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="fun_projects">
    <div id="four" data-id="fun" class="link">
      <i class="fa fa-bicycle fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="#contact-me">
    <div id="five" data-id="contact" class="link">
      <i class="fa fa-paper-plane-o fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
</section>
