<%= stylesheet_link_tag "about_me" %>
<section id="web-developer">
  <div id="who-am-i">
    <h4>web developer</h4>
    <p>with a focus on the front-end</p>
  </div>
  <div id="experience-logos">
    <%= javascript_pack_tag 'experience_icons_react' %>
  </div>
</section>
<section id="listed-experience">
  <div id="experience">
    <h4>i have worked with</h4>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s12 l4 experience-types">
        <h5>Javascript</h5>
        <ul>
          <li>ES2017</li>
          <li>React</li>
          <li>Angularjs</li>
          <li>jQuery</li>
        </ul>
      </div>
      <div class="col s12 l4 experience-types">
        <h5>CSS</h5>
        <ul>
          <li>Sass/Less</li>
          <li>Bootstrap</li>
          <li>Materialize</li>
          <li>Transitions/Keyframes</li>
        </ul>
      </div>
      <div class="col s12 l4 experience-types">
        <h5>Server-side</h5>
        <ul>
          <li>Ruby</li>
          <li>Rails</li>
        </ul>
      </div>
      <div class="col s12 l4 experience-types">
        <h5>Testing</h5>
        <ul>
          <li>RSpec</li>
          <li>Minitest</li>
          <li>Capybara</li>
          <li>Poltergeist</li>
        </ul>
      </div>
      <div class="col s12 l4 experience-types">
        <h5>Continuous Integration</h5>
        <ul>
          <li>Travis CI</li>
          <li>Semaphore</li>
        </ul>
      </div>
      <div class="col s12 l4 experience-types">
        <h5>CMS</h5>
        <ul>
          <li>Wordpress</li>
          <li>Drupal</li>
          <li>Four51</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="learning">
  <div id="motivations">
    <h4>learn, explore, create</h4>
  </div>
</section>
<section id="exploring">
  <div id="curious">
    <h4>permanently curious</h4>
    <p>at the moment, I am exploring:</p>
  </div>
  <div id="curious-logos">
    <%= javascript_pack_tag 'curious_icons_react' %>
  </div>
</section>
