<%= stylesheet_link_tag "home" %>
<%= stylesheet_link_tag "contact" %>
<%= image_tag('plus.svg', id: 'nav-plus-toggle') %>
<% title "Blake Burnette" %>

<!-- Main -->

<div id="hello-and-welcome">
  <p>
    veebiarendaja webontwikkelaar zhvilluesi i uebit Վեբ ծրագրավորողը geliştiricisi уеб разработчик desenvolupador sviluppatore udvikler ウェブ開発者 entènèt pwomotè programador ծրագրավորողը mahadar yanar gizo punaewele punaewele מפתח אינטרנט tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha ウェブ開発者 นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja zhvilluesi i 开发人员 uebit Վեբ ծրագրավորողը web geliştiricisi уеб разработчик desenvolupador 开发人员 entènèt นักพัฒนาเว็บ web-udvikler pwomotè programador web mahadar yanar punaewele punaewele מפתח אינטרנט Web tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn 开发人员 веб <span class="darken">web developer</span> horumariyaha веб-развивач ウェブ開発者 นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja webontwikkelaar zhvilluesi i uebit Վեբ ծրագրավորողը geliştiricisi уеб разработчик desenvolupador sviluppatore udvikler ウェブ開発者 entènèt pwomotè programador ծրագրավորողը mahadar yanar gizo punaewele punaewele מפתח אינטרנט tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha webka นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja zhvilluesi i 开发人员 uebit Վեբ ծրագրավորողը web geliştiricisi уеб разработчик desenvolupador 开发人员 entènèt webka <span class="darken">web developer</span>  นักพัฒนาเว็บ web-udvikler pwomotè programador web mahadar yanar punaewele punaewele מפתח אינטרנט Web tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha webka นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer
  </p>
</div>

<div id="home-nav" class="row slideInLeft">
  <a class="twenty-percent" href="#about">
    <div id="one" data-id="about" class="link">
      <i class="fa fa-user fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="work">
    <div id="two" data-id="work" class="link">
      <i class="fa fa-eye fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="code_examples">
    <div id="three" data-id="code" class="link">
      <i class="fa fa-code fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="fun_projects">
    <div id="four" data-id="fun" class="link">
      <i class="fa fa-bicycle fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="contact">
    <div id="five" data-id="contact" class="link">
      <i class="fa fa-paper-plane-o fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
</div>

<!-- About -->

<div id="about">

  <% title "About" %>

<p>Store this in JSON format and call it via API?</p>
<p></p>
<p>Front-end Dev</p>
<p></p>
<p>have used:</p>
<p>server:</p>
<p>ruby</p>
<p>rails</p>
<p>TDD with Semaphore, TravisCI</p>
<p></p>
<p>front-end:</p>
<p>js</p>
<p>  react</p>
<p>  angularjs</p>
<p>  jquery</p>
<p>  ES5</p>
<p>  ES2017</p>
<p>css</p>
<p>  materialize</p>
<p>  bootstrap</p>
<p>  sass</p>
<p>  less</p>
<p>  transitions</p>
<p></p>
<p>html</p>
<p>  html5</p>
<p></p>
<p>exploring</p>
<p>  Python</p>
<p>  Erlang</p>
<p>  Phoenix</p>
<p></p>
<p>CMS</p>
<p>  Wordpress</p>
<p>  Drupal</p>
<p>  Four51</p>
<p></p>
<p>Git</p>
<p>Command Line</p>
<p></p>
<p>Front-end Design</p>
<p></p>
<p>  Design</p>
<p>    Adobe Illustrator</p>
<p>    Adobe InDesign</p>
<p>    Adobe Photoshop</p>
<p>    Adobe AfterEffects</p>


</div>

<!-- Contact -->

<div id="contact-me">
  <div class="row">
    <div id="contact-info">
      <div class="col s6">
        <h4 class="col s12 center">Shoot me a message</h4>
        <aside>satellite animation</aside>
      </div>
      <div id="contact-form" class="col s6">
        <form class="col s12">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="name" type="text" class="validate">
            <label for="name">First Name</label>
          </div>
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="message" type="text" class="validate">
            <label for="message">Message</label>
          </div>
          <div class="row col s12">
            <button class="right btn waves-effect waves-light" type="submit" name="action">
              Submit
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

