<%= stylesheet_link_tag "home" %>
<%= image_tag('plus.svg', id: 'nav-plus-toggle') %>
<% title "Blake Burnette" %>

<div id="hello-and-welcome">
  <p>
    veebiarendaja webontwikkelaar zhvilluesi i uebit Վեբ ծրագրավորողը web geliştiricisi уеб разработчик desenvolupador 开发人员 web sviluppatore web-udvikler entènèt pwomotè programador web mahadar yanar gizo punaewele punaewele מפתח אינטרנט Web tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha webka นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer veebiarendaja webontwikkelaar zhvilluesi i uebit Վեբ ծրագրավորողը web geliştiricisi уеб разработчик desenvolupador 开发人员 web sviluppatore web-udvikler entènèt pwomotè programador web mahadar yanar gizo punaewele punaewele מפתח אינטרנט Web tsim tawm vefur verktaki forbróir gréasáin onye mmepụta weebụ ウェブ開発者 leasachaidh lìn веб-развивач horumariyaha webka นักพัฒนาเว็บ nhà phát triển web iżviluppatur tal-web web developer
  </p>
</div>

<div id="home-nav" class="row slideInLeft">
  <a class="twenty-percent" href="about">
    <div id="one" data-id="about" class="link">
      <i class="fa fa-user fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="work">
    <div id="two" data-id="work" class="link">
      <i class="fa fa-eye fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="code_examples">
    <div id="three" data-id="code" class="link">
      <i class="fa fa-code fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="fun_projects">
    <div id="four" data-id="fun" class="link">
      <i class="fa fa-bicycle fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="contact">
    <div id="five" data-id="contact" class="link">
      <i class="fa fa-paper-plane-o fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
</div>

