<%= stylesheet_link_tag "home" %>

<div id="home">
  <div id="gui-code-selection" class="row">
    <div id="gui" class="col s6">GUI</div>
    <div id="code" class="col s6"><code>&lt;/&gt;</code></div>
  </div>
</div>
