<%= stylesheet_link_tag "contact" %>
<% title "Blake Burnette" %>
<!-- Main -->
<section id="main-screen">
  <%= video_tag('exploding_color_2.mov',
                  controls: false,
                  autoplay: 'autoplay',
                  muted: true,
                  loop: false,
                  controlsList: 'nodownload',
                  autobuffer: true,
                  id: 'home-screen-background') %>
  <div id="keywords">welcome</div>
  <div id="keywords-animation"></div>
</section>

<%= render partial: 'about_me' %>
<%= render partial: 'contact_me' %>
<!-- Contact -->
