<%= stylesheet_link_tag "home" %>

<%= image_tag('plus.svg', id: 'nav-plus-toggle') %>

<div id="hello-and-welcome"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>

<div id="home-nav" class="row slideInLeft">
  <a class="twenty-percent" href="about">
    <div id="one" data-id="about" class="link">
      <i class="fa fa-user fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="work">
    <div id="two" data-id="work" class="link">
      <i class="fa fa-eye fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="code_examples">
    <div id="three" data-id="code" class="link">
      <i class="fa fa-code fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="fun_projects">
    <div id="four" data-id="fun" class="link">
      <i class="fa fa-bicycle fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
  <a class="twenty-percent" href="contact">
    <div id="five" data-id="contact" class="link">
      <i class="fa fa-paper-plane-o fa-5responsive" aria-hidden="true"></i>
    </div>
    <div class="underline"></div>
  </a>
</div>

