<%= stylesheet_link_tag "home" %>

<div id="home">
  <div class="row">
    <div id="1" data-id="about" class="twenty-percent"></div>
    <div id="2" data-id="work" class="twenty-percent"></div>
    <div id="3" data-id="code" class="twenty-percent"></div>
    <div id="4" data-id="fun" class="twenty-percent"></div>
    <div id="5" data-id="contact" class="twenty-percent"></div>
  </div>
</div>
