<% title "Work" %>

<p>Two fake sites, choose one and experience... build on this</p>
<p>1 in Materialize style</p>
<p>1 mimics Medaxion site but is responsive</p>
<p>Maybe 1 goofball site</p>
<p>1 Graph heavy</p>
