<% title "Work" %>
<%= stylesheet_link_tag "fun_projects" %>

<section id="fun-projects">
  <h1>Future addition</h1>
</section>

<!-- <p>Two fake sites, choose one and experience... build on this</p>
<p>1 in Materialize style</p>
<p>1 mimics Medaxion site but is responsive</p>
<p>Maybe 1 goofball site</p>
<p>1 Graph heavy</p>
 -->
