<p>Store this in JSON format and call it via API?</p>
<p></p>
<p>Front-end Dev</p>
<p></p>
<p>have used:</p>
<p>server:</p>
<p>ruby</p>
<p>rails</p>
<p>TDD with Semaphore, TravisCI</p>
<p></p>
<p>front-end:</p>
<p>js</p>
<p>  react</p>
<p>  angularjs</p>
<p>  jquery</p>
<p>  ES5</p>
<p>  ES2017</p>
<p>css</p>
<p>  materialize</p>
<p>  bootstrap</p>
<p>  sass</p>
<p>  less</p>
<p>  transitions</p>
<p></p>
<p>html</p>
<p>  html5</p>
<p></p>
<p>exploring</p>
<p>  Python</p>
<p>  Erlang</p>
<p>  Phoenix</p>
<p></p>
<p>CMS</p>
<p>  Wordpress</p>
<p>  Drupal</p>
<p>  Four51</p>
<p></p>
<p>Git</p>
<p>Command Line</p>
<p></p>
<p>Front-end Design</p>
<p></p>
<p>  Design</p>
<p>    Adobe Illustrator</p>
<p>    Adobe InDesign</p>
<p>    Adobe Photoshop</p>
<p>    Adobe AfterEffects</p>
