// fonts

$arvo: 'Arvo', serif;
$vollkorn: 'Vollkorn', serif;
$ubuntu: 'Ubuntu', sans-serif;;
$open-sans: 'Open Sans', sans-serif;

// Colors

$primary-color: #242738;
$secondary-color: orange;
$tertiary-color: #blue;
