// fonts

$arvo: 'Arvo', serif;
$vollkorn: 'Vollkorn', serif;
$ubuntu: 'Ubuntu', sans-serif;;
$open-sans: 'Open Sans', sans-serif;

// Colors

$primary-color: #131626;
$secondary-color: orange;
$tertiary-color: blue;
$orange: rgba(239,111,49,1.0);
