@import 'variables';
@import 'animations';

#web-developer,
#exploring,
#listed-experience,
#learning {
  background-color: white;
  min-height: 100vh;
  #who-am-i,
  #curious,
  #experience,
  #motivations {
    text-align: center;
    margin-top: 25vh;
    h4 {
      font-family: $ubuntu;
      font-weight: 700;
      font-size: 8vw;
      padding-top: 10vh;
    }
    p {
      font-size: 3vw;
      line-height: 1vw;
    }
  }

  #experience-logos,
  #curious-logos {
    margin-top: 5vw;
    div {
      height: 15vw;
      width: 15vw;
      &.javascript-logo{
        background-image: image-url(javascript_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.ruby-logo{
        background-image: image-url(ruby_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.git-logo{
        background-image: image-url(git_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.react-logo{
        background-image: image-url(react_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.erlang-logo{
        background-image: image-url(erlang_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.python-logo{
        background-image: image-url(python_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
    }
  }
  .experience-types {
    text-align: center;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 5em;
  }

  #motivations {
    margin-top: 0;
    margin-bottom: 75vh;
    h4 {
      padding-top: 0;
    }
  }
}

#learning{
  #motivations h4 {
    font-size: 7vw;
  }
  #values {
    &.visible {
      animation: fadeInAndFlipUp 0.75s;
    }
  }
  #lightbulb-small {
    margin: 30vh 40vw 0;
    max-width: 20vw;
    height: auto;
    width: auto;
  }
}

#listed-experience .container {
  margin-top: 8vh;
}

@media (max-width: 1200px) {
  #values {
    &.display-mobile {
      animation: fadeInAndFlipUp 0.75s;
    }
  }
}
