@import 'variables';
@import 'animations';

#web-developer,
#exploring,
#listed-experience,
#learning {
  background-color: white;
  min-height: 100vh;
  @media (orientation: portrait) {min-height: 75vh;}
  #who-am-i,
  #curious,
  #experience,
  #motivations {
    text-align: center;
    margin-top: 25vh;
    h4 {
      font-family: $ubuntu;
      font-weight: 700;
      font-size: 8vw;
      padding-top: 10vh;
    }
    p {
      font-size: 3vw;
      line-height: 1vw;
    }
  }

  #experience-logos,
  #curious-logos {
    margin-top: 5vw;
    div {
      height: 15vw;
      width: 15vw;
      &.javascript-logo{
        background-image: image-url(javascript_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.ruby-logo{
        background-image: image-url(ruby_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.git-logo{
        background-image: image-url(git_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.react-logo{
        background-image: image-url(react_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.erlang-logo{
        background-image: image-url(erlang_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.python-logo{
        background-image: image-url(python_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
    }
  }
  .experience-types {
    text-align: center;
    margin-bottom: 5em;
    h5 {
      font-family: $open-sans;
      font-size: 4em;
      font-weight: 700;
      color: #74c7d7;
    }
    ul {
      li {
        font-family: $open-sans;
        font-size: 2.5em;
        font-weight: 500;
      }
    }
  }

  #motivations {
    margin-top: 0;
    margin-bottom: 75vh;
    h4 {
      padding-top: 0;
    }
  }
}

#who-am-i {
  margin-top: 45vh !important;
}

#learning{
  #motivations h4 {
    font-size: 7vw;
  }
  #values {
    &.visible {
      animation: fadeInAndFlipUp 0.75s;
    }
  }
  #lightbulb-smoke {
    margin: 30vh 40vw 5vh;
    max-width: 20vw;
    height: auto;
    width: auto;
  }
}

img#brush {
  margin: 0 auto;
  max-width: 50vw;
  height: auto;
  width: auto;
}

img#point-down,
img#point-up {
  margin: 10vh auto;
  max-width: 50vw;
  height: auto;
  width: auto;
}

img#point-up {
  transform: rotate(180deg);
}

img#point-down {
  margin-top: 20vh;
  margin-bottom: 50vh;
}

#listed-experience .container {
  margin-top: 20vh;
}

#experience {
  padding: 5vh 0;
  h4 {
    padding-top: 3vh !important;
    color: #1f3441;
  }
}

@media (max-width: 1200px) {
  #values {
    &.display-mobile {
      animation: fadeInAndFlipUp 0.75s;
    }
  }
}

@media (orientation:portrait) {
  #experience h4 {
    font-size: 13vw !important;
  }
}
