@import 'variables';

#web-developer,
#exploring,
#listed-experience,
#learning {
  background-color: white;
  min-height: 100vh;
  #who-am-i,
  #curious,
  #experience,
  #motivations {
    text-align: center;
    margin-top: 25vh;
    h4 {
      font-family: $ubuntu;
      font-weight: 700;
      font-size: 8vw;
      padding-top: 10vh;
    }
    p {
      font-size: 3vw;
      line-height: 1vw;
    }
  }

  #experience-logos,
  #curious-logos {
    margin-top: 5vw;
    div {
      height: 15vw;
      width: 15vw;
      &.javascript-logo{
        background-image: image-url(javascript_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.ruby-logo{
        background-image: image-url(ruby_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.git-logo{
        background-image: image-url(git_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.react-logo{
        background-image: image-url(react_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.erlang-logo{
        background-image: image-url(erlang_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
      &.python-logo{
        background-image: image-url(python_logo);
        margin: 0 auto;
        transition: background 0.35s linear;
      }
    }
  }
  .experience-types {
    text-align: center;
    height: 200px;
  }
}
