@import 'variables';

#contact-me {
  background-color: $primary-color;
  color: #ddd;
  .row { margin-bottom: 0; }

  #contact-info {
    min-height: 80vh;
    margin: 2vh 0 5vh;
    border-bottom: 2px solid #ddd;
  }

  #contact-form {
    form {
      width: 75%;
      margin: 20px 0 0 12.5%;
      padding: 20px;
    }
  }
}
