@import 'variables';

body {
  background-color: $primary-color;
}

#contact-me {
  background-color: transparent;
  color: #ddd;

  #contact-info{
    min-height: 70vh;
    margin: 2vh 0 5vh;
    border-bottom: 2px solid #ddd;
  }

  #contact-form {
    form {
      width: 75%;
      margin: 20px 0 0 12.5%;
      padding: 20px;
    }
  }
}
