@import 'variables';
@import 'animations';
@import 'font-awesome';

@media (orientation:landscape) {
  body {
    font-family: $open-sans;
    background-color: white;
    color: $primary-color;
  }

  #main-screen {
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
  }

  #home-screen-background {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
  }

  /* box animation */
  #keywords-animation {
    position: absolute;
    background-color: rgba(237,0,91,0.2);
    animation: home-animation 4s;
    height: 44vh;
    width: 40vw;
    top: 28vh;
    left: 30vw;
  }

  #keywords {
    position: absolute;
    font-size: 4em;
    top: 43vh;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: white;
    animation: fade-in 6s;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes home-animation {
  0% {
    height: 4px;
    width: 40vw;
    top: 72vh;
    left: -65vw;
  }
  65% {
    height: 4px;
    width: 40vw;
    top: 72vh;
    left: 30vw;
  }
  100% {
    height: 44vh;
    width: 40vw;
    top: 28vh;
    left: 30vw;
  }
}

@media (orientation:portrait) {*{display:none;}}

video::-internal-media-controls-download-button {
  display:none;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}
