@import 'variables';
@import 'animations';
@import 'font-awesome';

@media (orientation:landscape) {
  body {
    font-family: $open-sans;
    background-color: #fff;
    color: $primary-color;
  }

  #main-screen {
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
  }

  #home-screen-background {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
  }

  /* box animation */
  #keywords-animation {
    position: absolute;
    background-color: rgba(237,0,91,0.2);
    animation: home-animation 4s;
    height: 44vh;
    width: 40vw;
    top: 28vh;
    left: 30vw;
  }

  #keywords {
    position: absolute;
    font-size: 4em;
    top: 43vh;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: white;
    animation: fade-in 6s;
  }

  #greeting {
    max-width: 25vw;
    text-align: center;
    margin: 0 auto;
    &.personal{
      position: relative;
      bottom: 8vh;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes home-animation {
    0% {
      height: 4px;
      width: 40vw;
      top: 72vh;
      left: -65vw;
    }
    65% {
      height: 4px;
      width: 40vw;
      top: 72vh;
      left: 30vw;
    }
    100% {
      height: 44vh;
      width: 40vw;
      top: 28vh;
      left: 30vw;
    }
  }
}

@media (orientation:portrait) {
  body {
    font-family: $open-sans;
    background-color: #fff;
    color: $primary-color;
  }

  #main-screen {
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    video {
      display: none;
    }
  }

  #home-screen-background {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    position: relative;
    top: 50%;
    left: 50%;
    min-width: 100vw;
    min-height: 100vh;
    width: auto;
    height: auto;
  }

  /* box animation */
  #keywords-animation {
    position: absolute;
    background-color: rgba(237,0,91,0.2);
    animation: home-animation 4s;
    height: 35vh;
    width: 100vw;
    top: 28vh;
    left: 0vw;
  }

  #keywords {
    position: absolute;
    font-size: 10em;
    top: 41vh;
    width: 100%;
    text-align: center;
    font-weight: bolder;
    color: white;
    animation: fade-in 6s;
  }

  #greeting {
    max-width: 40vw;
    text-align: center;
    margin: 0 auto;
    &.personal{
      position: relative;
      bottom: 3vh;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 100%;
    }
  }

  @keyframes home-animation {
    0% {
      height: 4px;
      width: 40vw;
      top: 72vh;
      left: -65vw;
    }
    65% {
      height: 4px;
      width: 100vw;
      top: 72vh;
      left: 0vw;
    }
    100% {
      height: 35vh;
      width: 100vw;
      top: 28vh;
      left: 0vw;
    }
  }
}

@media (max-width: 1200px) {
  #main-screen {
    background: $primary-color image-url(home_screen_mobile_fallback) no-repeat center;
    background-size: cover;
    video {display: none;}
  }
  #keywords {
    top: 41%;
  }
}

#keywords {
  z-index: 99;
  opacity: 0.7;
}

video::-internal-media-controls-download-button {
  display:none;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}
