@import 'variables';

nav#toggle-nav {
  background-color: transparent;
  position: absolute;
  top: 15px;
  right: 21px;
  z-index: 1;
  box-shadow: none;
  width: auto;
  overflow: hidden;

  #nav-plus-toggle {
    height: 50px;
    width: 50px;
    -webkit-transition: transform 1.2s; /* Safari */
    transition: transform 1.2s;
    &:hover{
      cursor: pointer;
      cursor: hand;
      animation: bounce 0.5s;
    }
    &.rotated {
      transform: rotate(1.63turn);
      -webkit-transition: transform 1.2s; /* Safari */
      transition: transform 1.2s;
    }
  }
  ul {
    position: relative;
    float: left;
    left: 600px;
    top: 6px;
    display: inline-block;
    -webkit-transition: left 1.2s; /* Safari */
    transition: left 1.2s;
    li {
      a {
        font-family: $comfortaa;
        color: $blue;
        margin: 0px 15px;
        padding: 0 5px;
        font-size: 1.4em;
        font-weight: bold;
        line-height: 35px;
        &:hover{
          background-color: transparent;
          border-bottom: 5px solid $blue;
        }
      }
    }
  }
  ul.expanded {
    float: left;
    margin-right: 23px;
    left: 0;
    -webkit-transition: left 1.2s; /* Safari */
    transition: left 1.2s;
  }
}

@keyframes bounce {
  0% {
    height: 50px;
    width: 50px;
  }
  15% {
    height: 53.5px;
    width: 53.5px;
  }
  65% {
    height: 49px;
    width: 49px;
  }
  85% {
    height: 51px;
    width: 51px;
  }
  100% {
    height: 50px;
    width: 50px;
  }
}
