@import 'variables';

/*nav {background-color: transparent}
body {background-color: #fff}*/

nav {
  top: 2.5vh;
  left: 2.4vw;
  width: 95vw;
  position: absolute;
  background-color: rgba(35,31,32,0);
  box-shadow: none;
}
