<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @messenger[:first_name] %>, thanks for reaching out!</h1>
    <p>
      I have received your message and will be reaching out as soon as possible.
    </p>
    <br>
    <p>Best,</p>
    <p>Blake Burnette</p>
  </body>
</html>
