<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div><%= @messenger[:first_name] %></div>
    <div><%= @messenger[:last_name] %></div>
    <div><%= @messenger[:email] %></div>
    <div><%= @messenger[:message] %></div>
  </body>
</html>
