<nav id="toggle-nav">
  <a><%= image_tag('plus.svg', id: 'nav-plus-toggle') %></a>
  <ul>
    <li>
      <a href="/#about-me">about</a>
    </li>
    <li>
      <a href="work">work</a>
    </li>
    <li>
      <a href="https://github.com/blakeburnette">code</a>
    </li>
    <li>
      <a href="fun">fun</a>
    </li>
    <li>
      <a href="/#contact-me">contact</a>
    </li>
  </ul>
</nav>
