<%= image_tag('plus.svg', id: 'foo') %>

<!-- plus sign spins until it becomes a thin x -->
<!-- <nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Blake Burnette</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="#">Work</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
 -->
